<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourcegroups/DefaultResourceGroup-CQ/providers/Microsoft.Web/sites/AplicationDatariumApi20251019131343</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CQ</ResourceGroup>
    <ApiResourceId>/subscriptions/9390bf4c-abd8-40e2-8b70-4c02c930a15e/resourceGroups/DefaultResourceGroup-CQ/providers/Microsoft.ApiManagement/service/AplicationDatariumApiapi/apis/AplicationDatariumApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aplicationdatariumapi20251019131343-dybjdzhvf9b6dje7.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c4c9ed8b-cfe3-4942-bd29-863fbbb4c07c</ProjectGuid>
    <PublishUrl>https://aplicationdatariumapi20251019131343-dybjdzhvf9b6dje7.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>